* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-bg);
    color: var(--color-text);

}
:root {

    --color-btn: #8EC3B0;
    --color-output: #9ED5C5;
}
.container {
    width: 375px;
    height: 100vh;   
    margin-inline: auto;
    border: 2px solid #937DC2;
    border-radius: 12px;
    overflow: hidden;
}
.container > :first-child{
    margin-top: 20px;
    color: var(--color-text);
    margin-left: 12px;
}

.themeSelect{
    border: none;
    width: 100px;
    color: var(--color-text);
    background-color: var(--color-output);
    margin-left: 12px;
    border-radius: 6px;
    padding: 0 5px;

}

.display {
    width: 350px;
    height: 120px;
    margin-inline: auto;
    padding: 50px;
    border-radius: 50px;
    background-color: var(--color-output);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.5rem;
    font-weight: bold;

    margin-top: 50px;

}

.time {
    width: 60px;
    align-items: center;
    padding-left: 5px;
}

.span {
    font-size: 2.5rem;
    width: 13px;
}

.btns {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 36%;
    background-color: var(--color-btn);

    color: var(--color-text);
    font-size: 1.5rem;
    margin-top: 100px;
}

.output {
    width: 350px;
    height: 245px;
    margin-inline: auto;
    background-color: var(--color-output);
    font-size: 2rem;
    color: var(--color-text);
    margin-top: 30px;
    padding: 50px 30px 0;
    overflow: hidden;
    border-radius: 12px;


}



.delete {
    width: 80px;
    font-size: 1rem;
    margin: 50px 0 0 270px;
    border: none;
    background-color: var(--color-output);
    cursor: pointer;
    color: var(--color-text);
    position: absolute;
}

#m-seconds {
    font-size: 1.5rem;
    margin-top: 20px;
}